---
layout: default
---
<!-- Page Content -->
<div class="container my-5">
    <h1>Технические работы на сайте студии "KRISMOS"</h1>
    <p>Уважаемые клиенты, наш сайт в данный момент находится на техническом обслуживании. Мы
        работаем над улучшением
        нашей онлайн-страницы, чтобы предоставить вам лучший опыт.</p>
    <p>Приносим извинения за временные неудобства. Мы скоро вернемся онлайн с обновленным сайтом.</p>
</div>

<!-- Contact Information -->
<div class="container bg-light py-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Свяжитесь с нами</h2>
            <ul class="list-unstyled">
                <li>Телефоны: <a href="tel:+79624072402">+7 (962) 407-24-02</a>, <a href="tel:+79286345124">+7 (928)
                        634-51-24</a></li>
                <li>Instagram: <a href="https://www.instagram.com/krismosstudio/">@krismosstudio</a></li>
                <li>E-mail: <a href="mailto:krismosstudio@gmail.com">krismosstudio@gmail.com</a></li>
                <li>Адрес: <a href="https://yandex.ru/maps/-/CDUQRXZS">г. Ставрополь, пр. Карла Маркса, 54В</a></li>
            </ul>
        </div>
    </div>
</div>
